*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: Verdana, sans-serif;
}

.header {
  background-color: #000099;
  border-bottom: 1px solid #010102;
  display: flex;
  align-items: center;
}
.header__logo {
  max-height: 120px;
  padding: 1em;
}
.header__title {
  font-family: Georgia, "Times New Roman", serif;
  line-height: 1.1;
  padding: 0.5em;
  text-align: center;
  color: #f2f3f4;
  font-size: 3rem;
}

.footer {
  background-color: #000099;
  border-top: 1px solid #010102;
}
.footer__copyright {
  font-family: Verdana, sans-serif;
  line-height: 1.6;
  padding: 1em;
  color: #f2f3f4;
  text-align: right;
  font-size: 0.75rem;
}

.main {
  display: grid;
  grid-template-columns: auto 1fr;
}

.users {
  padding: 1em;
}
.users__form {
  display: grid;
  grid-template-areas: "title					title" "add-user				user-list" "create-groups	create-groups";
  justify-content: center;
  margin: 0 1em;
  border: 2px solid #000099;
  border-radius: 15px;
  background-color: #e6e6e6;
}
.users__title {
  font-family: Georgia, "Times New Roman", serif;
  line-height: 1.1;
  padding: 0.5em;
  text-align: center;
  color: #010102;
  grid-area: title;
  text-align: center;
  background-color: #000099;
  background-image: linear-gradient(#000099, #0a0ac2);
  color: #f2f3f4;
  border-radius: 10px 10px 0 0;
}

.add-user {
  grid-area: add-user;
  width: max-content;
  margin: 1em;
  margin-left: 2em;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 4px solid #000099;
  border-radius: 10px;
  background-color: #f2f2f2;
}
.add-user__name-input, .add-user__email-input {
  font-size: 1rem;
  padding: 0.5em;
  margin: 0.25em 0 2em;
}
.add-user__submit {
  cursor: pointer;
  background-color: #000099;
  color: #f2f3f4;
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 10px;
  width: max-content;
  transition: background-color 250ms;
}
.add-user__submit:focus, .add-user__submit:hover {
  background-color: #6fb3e4;
}

.user-list {
  grid-area: user-list;
  min-width: 30em;
  height: 19em;
  overflow-y: scroll;
  padding: 0.5em;
  margin: 1em;
  margin-right: 2em;
  background-color: #6fb3e477;
  border: 4px solid #000099;
  box-shadow: inset 0 0 4px #000099;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.user {
  display: grid;
  grid-template-columns: auto 6em auto 1fr auto;
  align-items: center;
  margin: 0.25em;
  padding: 0.5em 1em;
  background-color: #000099;
  color: #f2f3f4;
  border-radius: 10px;
}
.user__name-icon {
  width: 16px;
  height: auto;
}
.user__email-icon {
  width: 16px;
  height: auto;
  margin-left: 0.5em;
}
.user__name {
  margin-left: 0.5em;
}
.user__email {
  font-size: 0.75rem;
  margin-left: 0.5em;
}
.user__remove {
  color: red;
  font-weight: 900;
  cursor: pointer;
}

.create-groups {
  grid-area: create-groups;
  margin: 0 2em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.create-groups__min-size-label {
  text-align: right;
}
.create-groups__min-size-input {
  font-size: 1rem;
  padding: 0.5em;
  text-align: center;
  width: 6em;
  margin-left: 0.25em;
}
.create-groups__submit {
  cursor: pointer;
  background-color: #000099;
  color: #f2f3f4;
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 10px;
  width: max-content;
  transition: background-color 250ms;
  margin: 1em;
  margin-right: 0;
}
.create-groups__submit:focus, .create-groups__submit:hover {
  background-color: #6fb3e4;
}
.create-groups__secret-santa {
  cursor: pointer;
  background-color: #000099;
  color: #f2f3f4;
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 10px;
  width: max-content;
  transition: background-color 250ms;
  margin: 1em;
  margin-right: 0;
}
.create-groups__secret-santa:focus, .create-groups__secret-santa:hover {
  background-color: #6fb3e4;
}

.groups {
  padding: 1em;
}
.groups__container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  margin: 0 1em;
  border: 2px solid #000099;
  border-radius: 15px;
  background-color: #e6e6e6;
}
.groups__title {
  font-family: Georgia, "Times New Roman", serif;
  line-height: 1.1;
  padding: 0.5em;
  text-align: center;
  color: #010102;
  text-align: center;
  background-color: #000099;
  background-image: linear-gradient(#000099, #0a0ac2);
  color: #f2f3f4;
  border-radius: 10px 10px 0 0;
}
.groups__list {
  margin: 2em 0;
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.groups__group {
  list-style-type: none;
  margin: 1em;
  padding: 1em;
  background-color: #6fb3e477;
  border: 4px solid #000099;
  border-radius: 10px;
  text-align: center;
}
.groups__group-title {
  margin-bottom: 0.25em;
}
.groups__email {
  cursor: pointer;
  background-color: #000099;
  color: #f2f3f4;
  font-size: 1rem;
  padding: 0.5em 1em;
  border-radius: 10px;
  width: max-content;
  transition: background-color 250ms;
  justify-self: center;
  margin: 1em;
}
.groups__email:focus, .groups__email:hover {
  background-color: #6fb3e4;
}

.popup {
  position: fixed;
  bottom: 5em;
  left: 25vw;
  right: 25vw;
  height: 5em;
  background-color: #6fb3e4;
  border: 4px solid #000099;
  border-radius: 10px;
  padding: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 400ms;
}
.popup--active {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
