@use 'colours';

@mixin input {
	font-size: 1rem;
	padding: 0.5em;
}

@mixin button {
	cursor: pointer;
	background-color: colours.$brand1;
	color: colours.$light;
	font-size: 1rem;
	padding: 0.5em 1em;
	border-radius: 10px;
	width: max-content;
	transition: background-color 250ms;

	&:focus,
	&:hover {
		background-color: colours.$brand2;
	}
}
