@use 'colours';
@use 'text';
@use 'components';

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	font-family: Verdana, sans-serif;
}

.header {
	background-color: colours.$brand1;
	border-bottom: 1px solid colours.$dark;
	display: flex;
	align-items: center;

	&__logo {
		max-height: 120px;
		padding: 1em;
	}

	&__title {
		@include text.title(colours.$light);
		font-size: 3rem;
	}
}

.footer {
	background-color: colours.$brand1;
	border-top: 1px solid colours.$dark;

	&__copyright {
		@include text.body(colours.$light);
		text-align: right;
		font-size: 0.75rem;
	}
}

.main {
	display: grid;
	grid-template-columns: auto 1fr;
}

.users {
	padding: 1em;

	&__form {
		display: grid;
		grid-template-areas:
			"title					title"
			"add-user				user-list"
			"create-groups	create-groups";
		justify-content: center;
		margin: 0 1em;
		border: 2px solid colours.$brand1;
		border-radius: 15px;
		background-color: #e6e6e6;
	}

	&__title {
		@include text.title(colours.$dark);
		grid-area: title;
		text-align: center;
		background-color: colours.$brand1;
		background-image: linear-gradient(colours.$brand1, colours.$brand1-light);
		color: colours.$light;
		border-radius: 10px 10px 0 0;
	}
}

.add-user {
	grid-area: add-user;
	width: max-content;
	margin: 1em;
	margin-left: 2em;
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 4px solid colours.$brand1;
	border-radius: 10px;
	background-color: #f2f2f2;

	&__name-input,
	&__email-input {
		@include components.input;
		margin: 0.25em 0 2em;
	}

	&__submit {
		@include components.button;
	}
}

.user-list {
	grid-area: user-list;
	min-width: 30em;
	height: 19em;
	overflow-y: scroll;
	padding: 0.5em;
	margin: 1em;
	margin-right: 2em;
	background-color: colours.$brand2-trans;
	border: 4px solid colours.$brand1;
	box-shadow: inset 0 0 4px colours.$brand1;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
}

.user {
	display: grid;
	grid-template-columns: auto 6em auto 1fr auto;
	align-items: center;
	margin: 0.25em;
	padding: 0.5em 1em;
	background-color: colours.$brand1;
	color: colours.$light;
	border-radius: 10px;

	&__name-icon {
		width: 16px;
		height: auto;
	}

	&__email-icon {
		width: 16px;
		height: auto;
		margin-left: 0.5em;
	}

	&__name {
		margin-left: 0.5em;
	}

	&__email {
		font-size: 0.75rem;
		margin-left: 0.5em;
	}

	&__remove {
		color: red;
		font-weight: 900;
		cursor: pointer;
	}
}

.create-groups {
	grid-area: create-groups;
	margin: 0 2em;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	&__min-size-label {
		text-align: right;
	}

	&__min-size-input {
		@include components.input;
		text-align: center;
		width: 6em;
		margin-left: 0.25em;
	}

	&__submit {
		@include components.button;
		margin: 1em;
		margin-right: 0;
	}

	&__secret-santa {
		@include components.button;
		margin: 1em;
		margin-right: 0;
	}
}

.groups {
	padding: 1em;

	&__container {
		display: grid;
		grid-template-rows: auto 1fr auto;
		margin: 0 1em;
		border: 2px solid colours.$brand1;
		border-radius: 15px;
		background-color: #e6e6e6;
	}

	&__title {
		@include text.title(colours.$dark);
		text-align: center;
		background-color: colours.$brand1;
		background-image: linear-gradient(colours.$brand1, colours.$brand1-light);
		color: colours.$light;
		border-radius: 10px 10px 0 0;
	}

	&__list {
		margin: 2em 0;
		justify-self: center;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
	}

	&__group {
		list-style-type: none;
		margin: 1em;
		padding: 1em;
		background-color: colours.$brand2-trans;
		border: 4px solid colours.$brand1;
		border-radius: 10px;
		text-align: center;

		&-title {
			margin-bottom: 0.25em;
		}
	}

	&__email {
		@include components.button;
		justify-self: center;
		margin: 1em;
	}
}

.popup {
	position: fixed;
	bottom: 5em;
	left: 25vw;
	right: 25vw;
	height: 5em;
	background-color: colours.$brand2;
	border: 4px solid colours.$brand1;
	border-radius: 10px;
	padding: 1em;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 400ms;

	&--active {
		opacity: 1;
	}
}
